*{
    font-family: roboto, sans-serif;
}

/*barra de colores*/
:root
{
    --color1: #A6384C;
    --color2: #F29188;
    --color3: #F2D750;
    --color4: #D9695F;
    --color5: #4a4a4a;
    --colorgris: #F2F2F2;
}
/*navegador*/
#navegador{
    background-color: var(--color3);
}
#navegador-burger{
    color: white;
}
.navbar-menu .navbar-item{
    color: white;
    font-weight: bold;
}
.navbar-menu .navbar-item:hover{
    color: white;
    background-color: var(--color1);
}
.navbar-menu .navbar-item:focus, .navbar-menu .navbar-item:focus-within{
    color: white;
    background-color: var(--color1);
}
/*principal*/
.hero{
    background-color: var(--color1);
    border-bottom-right-radius: 30%;
}
.hero-body .title, .hero-body .subtitle{
    color: white;
    padding: 0rem;
}
/*dibujo*/
#dibujo
{
    padding: 1rem;
}
/*titulo segmentos*/
#section .title, #habilidades .title, #contacto .title, #proyectos .title{
    padding: 0rem 3rem;
}
/*animación titulo y subtitulo*/
#autora{
    animation: deslizar 3s ease-in-out;
}    
@keyframes deslizar{
    0%{
        transform: translateY(-50px);
        color: var(--color1);
    }
    100%{
        transform: translateY(0px);
        color: white;
    }
}
#carrera{
    animation: deslizarc 3s ease-in-out;
}
@keyframes deslizarc{
    0%{
        transform: translateY(50px);
        color: var(--color1);
    }
    100%{
        transform: translateY(0px);
        color: white;
    }
}
/*foto*/
#foto{
    margin: auto;
    padding-top: 3rem;
}
/*parrafo conoceme*/
.subtitle{
    padding-top: 3rem;
}
/*fondo section*/
#section, #contacto{
    padding: 2rem 1.5rem;
}
/*columnas de section*/
.section .columns{
    background-color: var(--colorgris);
    margin: 0rem 3rem;
}
/*Pasatiempos hover*/
.contenido{
   position: relative;
}
.contenido p{
    position: absolute;
    text-align: center;
    padding: 0.5rem;
    color: var(--color5);
}
.imagen:hover{
    opacity: 0.07;
}
/*habilidades técnicas*/
#habilidades .image{
    margin: auto;
}
#habilidades .column{
    padding: 3rem 1rem;
    background-color: white;
}
#habilidades p{
    text-align: center;
    font-weight: bold;
}
/*movimiento habilidades*/
#habilidades .image:hover{
    animation: rotar 2s infinite linear;
}
@keyframes rotar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(359deg);
    }
}
/*proyectos*/
#proyectos .column{
    padding: 1rem 1.5rem;
}
#proyectos .image{
    border: 0.5rem solid white;
}
#proyectos a{
    color: var(--color1);
    font-weight: bold;
}
/*contacto*/
#contacto .columns{
    background-color: white;
}
#contacto .column{
    border-radius: 0.5rem;
    background-color: var(--color1);
    box-shadow: 2px 4px 8px 0 var(--color5);
}
#enviar{
    margin-top: 1rem;
}
/*movimiento contacto*/
@keyframes movimiento{
    0% {
        transform: translate(100%);
        opacity: 0.30;
    }
}
#contacto .label{
    color: white;
}
#contacto .input:active, #contacto .input:focus, #contacto .textarea:focus, #contacto .textarea:active{
    border-color: var(--color5);
    box-shadow: none;
}
.button:hover{
    background-color: var(--color3);
    font-weight: bold;
}
/*estilo alert*/
.icon{
   margin: auto;
}
/*footer*/
#footer{
    background-color: var(--color3);
    padding: 0.1rem;
    margin: 0rem;
}
.footer2{
    display: flex;
    justify-content: space-around;
}    
/*tamaño de pantalla*/
@media only screen and (max-width: 1023px) {
    #navbarBasicExample{
        background-color: var(--color3);
        text-align: center;
    }
    @keyframes movimiento{
        0% {
            transform: none;
        }
    }
} 
@media only screen and (max-width: 767px) {
    /*posicion del titulo*/
    #titulos, #titulos .hero-body{
        padding: 0rem 1.5rem 1rem;
        text-align: center;
    }
    /*cambio en la direccion de animacion*/
    #carrera{
        animation: deslizar 3s ease-in-out;
    }    
    @keyframes deslizar{
    0%{
        transform: translateY(-50px);
        color: var(--color1);
      }
    100%{
        transform: translateY(0px);
        color: white;
      }
    }
    /*padding de titulos*/
    #section .title, #habilidades .title, #contacto .title{
        padding: 0rem;
    }
    /*margin en columnas*/
    .section .columns{
        margin: 0rem;
    }
    /*visualizacon pasatiempo*/    
    #pasatiempos{
        display: flex;
    }
    .contenido p{
        padding: 0rem;
        font-weight: lighter;
    }
    .footer2{
        display: flex;
        justify-content: space-around;
    }
}
@media only screen and (max-width: 655px){
    #pasatiempos{
        flex-direction: column;
    }
} 






